<html ng-app="pos">
	<head>
		<script src="lib/angular.js"></script>
		<script src="lib/angular-route.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<link rel="stylesheet" href="css/app.css" type="text/css"/>
	</head>
	<body>
		<div id="locationInfo" ng-controller="GetLocation"> 
		    <div class="main">Location:{{location.name}} </br>
			Political Admin :{{location.politicalInfo[0].name}} as  {{location.politicalInfo[0].politicalAdminType}}</div>
		</div>
		
		<div id="totalComplain" ng-controller="GetTotalComplaintsForLocation"> 
		   <div class="main" >Total Complaints {{totalComplaintsForLocation.totalComplaints}}</div>
		</div>
		<div id="rootCategories" ng-controller="RootCategories">
		Root Categories<ul class="pos cf" ng-repeat="category in rootCategories">
        <li class="info">
			<img width="50px;" ng-src="{{category.imageUrl}}"/><span class='val'>{{category.name}}</span>			     
        </li>
    </ul>
		
		</div>
		<div id="categoryComplains" ng-controller="GetAllComplaints"> 
			All Complaints<ul class="pos cf" ng-repeat="complaint in allComplaints">
        <li class="info">
			<span class='val'>{{complaint.categoryTitle}}</span>			     
        </li>
    </ul>
		</div>
	</body>            
</html>