body {
margin-left:auto;
margin-right:auto;
}

#wrapper{
  width:100%;
  
}
#header1{
 display:none;
 width:100%;
 background:#FFFFFF;
 z-index:1;
 top:0px;
 overflow:hidden;
 
 box-shadow: 0 6px 6px -6px rgba(0,0,0,.3);
}
#header{
       


       position:fixed;
	   top:0px;
       width:100%;
	   box-shadow: 0 6px 6px -6px rgba(0,0,0,.3);
       
	   overflow:hidden;
	   background:#FFFFFF;
	    z-index:1;

	  }
	  #content{
	  position:relative;
	  top:100px;
	  }
	  #footer{
	   position:relative;
	   top:245px;
	  }
	  
	  #logo{
	   float:left;
	  }
	  #menu{
	   float:right;
	  }
	  #menu ul li{
	   
	   list-style-type: none;
	   display: inline;
	   padding-top: 28px;
	   padding-right:32px;
	   color:#000000;
      }
	   #menu ul li a{
	   color:#000000;
	   }
	   #menu ul li a {
	   width:100px;
	   }
	   #menu ul li span{
	    color:#000000;
		font-family:lato;
		font-size:15px;
		padding-left:5px;
		font-weight:14;
	   }
	  #menu ul li a{
	    text-decoration: none;
		
	  }
	  #left_sidebar {
	    width:30%;
		height:1550px;
	  }
	  
	  #left_sidebar h2{
	    color:#444444;
		font-family:lato;
		font-size:15px;
	  }
	  #left_sidebar{
	   float:left;
	  }
	  #left_menu ul li{
	     list-style-type: none;
		 color:#000000;
		 height:50px;
	  }
	  #left_menu ul li a{
	  color:#000000;
	  text-decoration:none; 
	  border-top-style:solid;
      border-right-style:solid;
      border-left-style:solid;
	  border-bottom-style:solid;
	  border-color:#C2C2C2;
	  border-width:.5px;
	  
	  }
	  #left_menu ul li a i{
	   border-right-style:solid;
        border-color:#C2C2C2;
	   border-width:.5px;	   
	  }
	 
	  .show{
	  padding:20px;
	 
	  }
	  #map{
	  float:right;
	  }
	   
	  
	  #map ul li{
	   
	   list-style-type: none;
	   display: inline;
	   padding-left:2px;
	   
	  }
	  
	  #map ul li a{
	    text-decoration:none;
		color:#F15A24;
		background:#EBEBEB;
		padding:10px 20px 10px 20px;
		border-top-left-radius:.5em;
        border-top-right-radius:.5em;
	  }
	  #map ul li a:hover{
	   background:#F15A24;
	   color:#FFFFFF;
	   padding:10px 20px 10px 20px;
	   border-top-left-radius:.5em;
       border-top-right-radius:.5em;
	   }
	    #text_area  a {
		 text-decoration:none;
		 
		 
		}
		 #text_area h2{
		 padding-left:650px;
		  color:#F15A24;
		 }
	   #text_area{
	     position:relative;
		 top:60px;
	   }
	   #text_area ul li{
	   list-style-type: none;
	   }
	    #text_area ul.i{
	   border-color:#C2C2C2;
	   border-width:1px;
	   border-bottom-style:solid;
	   overflow:hidden;
	  }
	   .text{
	     width:800px;
		 height:40px;
	   }
	   .man{
	     float:left;
	   }
	   .p{
	    float:right;
		position:relative;
		top:-45px;
	   }
	   ul.text li{
	     padding-left:25px;
	   }
	   ul.text li a{
	     color:#9E9E9E;
		 text-decoration:none;
	   }
	   
	  
	  
	  #footer ul {
	    background:#000000;
	    padding-top:54px;
		padding-bottom:54px;
	    text-align: left;
        
	   }
	  
	  #footer  ul li{
	  list-style-type: none;
	  display: inline;
	  padding-right:32px;
	  }
	  #footer ul li a{
	   text-decoration: none;
	   color:#FFFFFF;
	  }
	  #head {
	  margin-left:auto;
	  margin-right:auto;
	  }
	  #logo1 a img{
	  display: block;
	   margin-left:auto;
	  margin-right:auto;
	  }
	 #head p{
	 font-family:lato;
	font-size:24px;
	font-weight:100;
	text-align: center;
	margin-top:0px;
	 }
	  
	#head h1{
	font-family:lato;
	font-size:50px;
	font-weight:100;
	text-align: center;
	margin-bottom:0px;
	} 
#nav {
    text-align:center;
}	
#nav ul{
  margin-left:auto;
  margin-right:auto;
  
}	  
	 
#nav ul li{
   display:inline;
   list-style-type: none;
   padding-left:50px;
    
	   
   }
   #one{
   margin-left:auto;
  margin-right:auto;
	text-align:center;
	display: block;
   }
    #heading1{
    text-align:center; 
   }
   #heading1 h1{
     color:#1a1a1a;
	 font-family:lato;
	font-size:50px;
	font-weight:100;
	margin-bottom:0px;
   }
   #heading1  h4{
   font-family:lato;
	font-size:36px;
	font-weight:100;
     color:#666666;
	 text-align:center; 
	 margin-top:0px;
   }
   #men{
   
    height:400px;
    margin-left:auto;
    margin-right:auto;
	text-align:left;
	display: block;
   }
   #men img{
    float:left;
	margin-left: 50px;
	
   }
    #men ul{
    padding-left: 655px;
	padding-top:45px;
	
	}
   #men ul li{
     list-style-type:none;
	 
   }
   #men ul li h1{
   margin-bottom: 0px;
   font-family:lato;
   font-size:50px;
   font-weight:100;
   color:#F15A24;
   }
   #men ul li p{
   margin-top: 0px;
   font-family:lato;
   font-size:18px;
   font-weight:100;
   padding-left:0px;
   color:#1a1a1a;
   }
   #india ul{
    float:left;
	padding-left:50px;
	padding-top:90px;
   }
    #india ul li {
	 list-style-type:none;
	}
	 #india ul li h1 {
	margin-bottom: 0px;
   font-family:lato;
   font-size:50px;
   font-weight:100;
	 color:#F15A24;
	}
	 #india ul li  p{
	 margin-top: 0px;
   font-family:lato;
   font-size:18px;
   font-weight:100;
	 padding-left:0px;
	 color:#1a1a1a;
	 }
    #india img{
    padding-left:200px;
     }	
	 #sound{
     height:400px;
	  margin-left:auto;
    margin-right:auto;
	text-align:left;
	display: block;
   }
  #sound img{
    float:left;
	margin-right: 76px; 
	margin-left: 0px; 
	padding-left: 85px;">
   }
    #sound ul{

	padding-top:45px;
	
	}
  #sound ul li{
     list-style-type:none;
	 padding-left:55px;
   }
   #sound ul li h1{
   margin-bottom: 0px;
   font-family:lato;
   font-size:50px;
   font-weight:100;
   
	 color:#F15A24;
   }
   #sound ul li p{
   margin-bottom: 0px;
   font-family:lato;
   font-size:18px;
   font-weight:100;
   padding-left:5px;
   color:#1a1a1a;
   }
   #moniter{
   width:100%;
   height:300px;
   }
   
    #moniter ul{
    float:left;
	padding-left:50px;

   }
    #moniter  ul li {
	 list-style-type:none;
	  font-family:lato;
   font-size:18px;
   font-weight:100;
	}
	  #moniter  ul li h1 {
	margin-bottom: 0px;
   font-family:lato;
   font-size:50px;
   font-weight:100;
	 color:#F15A24;
	}
	 #moniter  ul li  p{
	 padding-left:25px;
	 margin-top: 0px;
   font-family:lato;
   font-size:18px;
   font-weight:100;
	 }
	 #mon{
	 padding-left:262px;
	 }
	 #foot ul li{
	   list-style-type:none;
	   float:left;
	   padding:20px;
	 }
	 #foot ul li p{
	   font-family:lato;
   font-size:18px;
   font-weight:100;
   color:#1a1a1a;
   text-align:center;
	 }
	 .s{
	 padding-left:70px;
	 }
	  #foot ul li img{
	  
   text-align:center;
	 }
    
	  